.jumbotron {
    background-repeat: no-repeat;
    background-image: url(./assets/img/work-from-home.jpg);
    background-size: cover;
    display: block;
}

.jumbotron-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.jumbotron-button {
    width: 20%;
    min-width: 200px;
    height: 10%;
    min-height: 50px;
    margin-left: auto;
}

footer {
    height: 50px;
}