:root {
    --bd-violet: #712cf9;
    --primary-nav: #E0E1DD;
    --primary-rest: #415A77;
    --bg: #DDEDD4;
}

body {
    background-color: var(--bg);
}

.jumbotron {
    background-repeat: no-repeat;
    background-image: url(./assets/img/work-from-home.jpg);
    background-size: cover;
    display: block;
}

.jumbotron-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.jumbotron-button {
    width: 20%;
    min-width: 200px;
    height: 10%;
    min-height: 50px;
    margin-left: auto;
}

footer {
    height: 50px;
}

.card-img-top {
    float: left;
    max-width: 300px;
    min-width: 200px;
    object-fit: cover;
}

.card {
    width: 18rem;
    height: 35rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body:last-child {
    position: absolute;
    bottom: 0;
}

.card-body {
    text-align: center;
}

#nav {
    flex-direction: row-reverse;
}

.btn-primary {
    background-color: var(--primary-rest);
    border-color: var(--primary-rest);
}

.text-primary-color {
    color: var(--bd-purple);
}

.navbar {
    background-color: var(--primary-nav) !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}